@import "../base/variables";

/* Portfolio universal components (inside MAIN) */

.portfolio__block {
    min-height: 100vh;
    padding: 100px;

    @media (max-width: map-get($map: $breakpoints, $key: medium)) {
        padding: 100px 50px;
    }

    @media (max-width: map-get($map: $breakpoints, $key: small)) {
        padding: 100px 20px;
    }
}

.button {
    border: 0;
    position: relative;
    background: $main-color;
    display: inline-block;
    color: $light-color;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
    cursor: pointer;

    &:hover,
    &:active {
        filter: brightness(0.8);
    }

    @media (max-width: map-get($map: $breakpoints, $key: medium)) {
        margin-top: 10px;
        padding: 10px 20px;
        font-size: 16px;
    }

    &--work {
        margin-top: 0;
    }
}

/* Block heading and content */

.block-heading {
    width: 100%;
    text-align: center;
    color: $dark-color;

    &--white {
        color: $light-color;
    }

    &__header {
        font-weight: 700;
        font-size: 30px;

        display: inline-block;
        margin-bottom: 10px;
        padding: 10px 30px;
        border: 0;
        border-radius: 10px;
        font-size: 24px;
        color: $light-color;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 2px;
        background: $red-color;
        user-select: none;

        @media (max-width: map-get($map: $breakpoints, $key: medium)) {
            font-size: 24px;
        }
    }
}

.block-content {
    display: flex;
    justify-content: space-between;

    @media (max-width: map-get($map: $breakpoints, $key: medium)) {
        flex-direction: column;
        align-items: center;
    }
}
