@import "../base/variables";

/* Portfolio universal components (inside MAIN) */

.portfolio__block {
    padding: 100px;
}

.button {
    position: relative;
    background: $main-color;
    display: inline-block;
    color: #fff;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
}

/* Block heading and content */

.block-heading {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: $dark-color;
}

.block-heading--white {
    color: $light-color;
}

.block-heading__header {
    font-weight: 600;
    font-size: 30px;
}

.block-content {
    display: flex;
    justify-content: space-between;
}
