/* Portfolio ABOUT Block */

.about__content-box {
    padding-right: 30px;
}

.about__subheader {
    font-size: 24px;
    margin-bottom: 10px;
}

.about__image {
    min-width: 50%;
}

.image {
    max-width: 100%;
}
