@import "../base/variables";

/* Portfolio ABOUT Block */

.about {
    &__content-box {
        padding-right: 30px;
    }

    &__subheader {
        font-size: 24px;
        margin-bottom: 10px;

        @media (max-width: map-get($map: $breakpoints, $key: medium)) {
            font-size: 20px;
        }
    }

    &__image {
        min-width: 50%;

        @media (max-width: map-get($map: $breakpoints, $key: medium)) {
            margin-bottom: 20px;
        }
    }
}

.image {
    max-width: 100%;
}
