@import "../base/variables";

/* Portfolio WORK Block */

.work__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Work box */

.work-box {
    width: 50%;
    padding: 20px;

    @media (max-width: map-get($map: $breakpoints, $key: medium)) {
        width: 100%;
        padding: 10px;
    }

    &__image {
        max-width: 100%;
        transition: 0.2s;
        background: rgb(47, 47, 47);
        border-radius: 10px;

        &:hover {
            filter: brightness(80%);
        }
    }
}
