@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

/* Primary RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

/* Site HEADER */

.site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

.site-header.sticky {
    background: #fff;
    padding: 20px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.site-header__logo {
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
}

.site-header.sticky .site-header__logo {
    color: #111;
}

/* NAVIGATION (inside Header) */

.navigation__list {
    position: relative;
    display: flex;
}

.navigation__element {
    position: relative;
    list-style: none;
}

.navigation__link {
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
}

.site-header.sticky .navigation__link {
    color: #111;
}

/* Portfolio universal components (inside MAIN) */

.portfolio__block {
    padding: 100px;
}

.button {
    position: relative;
    background: #2196f3;
    display: inline-block;
    color: #fff;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
}

/* Block heading and content */

.block-heading {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: #111;
}

.block-heading--white {
    color: #fff;
}

.block-heading__header {
    font-weight: 600;
    font-size: 30px;
}

.block-content {
    display: flex;
    justify-content: space-between;
}

/* Portfolio HOME Block */

.home {
    position: relative;
    min-width: 100vh;
    background: url(assets/images/banner.jpg);
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home__header {
    font-size: 3em;
    color: #fff;
    font-weight: 500;
    line-height: 1.5em;
}

.home__author {
    font-size: 1.5em;
    font-weight: 700;
}

.home__subheader {
    font-size: 1.5em;
    color: #fff;
    font-weight: 500;
    line-height: 1.5em;
}

/* Portfolio ABOUT Block */

.about__content-box {
    padding-right: 30px;
}

.about__subheader {
    font-size: 24px;
    margin-bottom: 10px;
}

.about__image {
    min-width: 50%;
}

img {
    max-width: 100%;
}

/* Portfolio SERVICES Block */

.services {
    background: #111;
}

.services__content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

/* Service box */

.service-box {
    padding: 40px 20px;
    background: #222;
    color: #fff;
    max-width: 340px;
    margin: 20px;
    text-align: center;
    transition: 0.5s;
}

.service-box:hover {
    background: #2196f3;
}

.service-box__image {
    max-width: 80px;
    filter: invert(1);
}

.service-box__header {
    font-size: 20px;
    font-weight: 600;
}

/* Portfolio WORK Block */

.work__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Work box */

.work-box {
    width: 50%;
    padding: 20px;
}

.work-box__image {
    max-width: 100%;
    transition: 0.2s;
    background: rgb(47, 47, 47);
    border-radius: 10px;
}

.work-box__image:hover {
    filter: brightness(80%);
}

/* Portfolio TESTIMONIAL Block */

.testimonial {
    background: #f7f7f7;
}

.testimonial__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Testimonial box */

.testimonial-box {
    max-width: calc(50% - 40px);
    padding: 60px 40px;
    margin: 20px;
    background: #2196f3;
}

.testimonial-box__text {
    color: #fff;
    font-style: italic;
    font-size: 16px;
    font-weight: 300;
}

.testimonial-box__meta {
    margin-top: 40px;
    text-align: end;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    line-height: 1em;
}

.meta__addition-info {
    font-size: 14px;
    font-weight: 400;
}

/* Portfolio CONTACT Block */

.contact {
    background: #111;
}

/* Contact InfoBox */

.contact__info {
    min-width: 40%;
}

.info-box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.info-box__icon {
    min-width: 40px;
    padding-top: 4px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 24px;
}

.info-box__text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.info-box__name {
    font-weight: 500;
    color: #2196f3;
}

/* Contact FormBox */

.form-box {
    min-width: 60%;
}

.form {
    display: flex;
    flex-direction: column;
}

.form__header,
.contact__info-header {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.form__input,
.form__textarea {
    margin-bottom: 20px;
    padding: 15px;
    font-size: 16px;
    background: transparent;
    border: none;
    outline: none;
    background: #222;
    color: #fff;
    resize: none;
}

.form__textarea {
    min-height: 200px;
}

.form__input::placeholder,
.form__textarea::placeholder {
    color: #999;
}

.form__input--submit {
    max-width: 100px;
    background: #2196f3;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* COPYRIGHT footer */

.copyright {
    background: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Media Queries */

@media (max-width: 991px) {
    /* Site HEADER */

    .site-header,
    .site-header.sticky {
        padding: 20px 50px;
    }

    /* Toggle element */

    .site-header__toggle {
        width: 40px;
        height: 40px;
        background: url(assets/menu/open.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        cursor: pointer;
    }

    .site-header__toggle.active {
        background: url(assets/menu/close.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 25px;
        cursor: pointer;
    }

    .site-header.sticky .site-header__toggle {
        filter: invert(1);
    }

    /* Navigation */

    .navigation__list {
        position: fixed;
        top: 75px;
        left: -100%;
        display: block;
        padding: 100px 50px;
        text-align: center;
        width: 100%;
        height: 100vh;
        background: #fff;
        transition: 0.5s;
        z-index: 999;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
    }

    .navigation__list.active {
        left: 0;
    }

    .navigation__link {
        color: #111;
        font-size: 24px;
        margin: 10px;
    }

    .portfolio__block {
        padding: 100px 50px;
    }

    /* Portfolio universal components (inside MAIN) */

    .button {
        margin-top: 10px;
        padding: 10px 20px;
        font-size: 16px;
    }

    /* Block heading and content */

    .block-heading__header {
        font-size: 24px;
    }

    .block-content {
        flex-direction: column;
        align-items: center;
    }

    /* Home Block */

    .home {
        padding: 150px 50px 100px;
    }

    .home__header {
        font-size: 1.5em;
    }

    .home__subheader {
        font-size: 1em;
    }

    /* About Block */

    .about__subheader {
        font-size: 20px;
    }

    .about__image {
        margin-bottom: 20px;
    }

    /* Services Box */

    .service-box {
        margin: 10px;
    }

    /* Work Box */

    .work-box {
        width: 100%;
        padding: 10px;
    }

    /* Testimonial Box */

    .testimonial-box {
        max-width: calc(100%-20px);
        padding: 40px 20px;
        margin: 10px;
    }

    .testimonial-box__meta {
        margin-top: 20px;
    }

    /* Contact Block */

    .contact__info {
        min-width: 40%;
        margin: 20px 0;
    }
}

@media (max-width: 600px) {
    .site-header,
    .site-header.sticky {
        padding: 20px;
    }

    .portfolio__block {
        padding: 100px 20px;
    }

    .home {
        padding: 150px 20px 100px;
    }
}
