.timeline {
    color: black;
}

.timeline__title {
    padding-top: 0.25em;
}

.timeline__date {
    color: rgb(201, 251, 255);
}

.timeline__description {
    margin: 1.5em 0 2em 0;
}

.timeline__icon {
    color: white;
}

.timeline__button {
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    color: white;
}

.timeline__button--fantasy {
    background-color: #06d6a0;
}

.timeline__button--fantasy:hover {
    background-color: #0ac593;
}

.timeline__button--education {
    background-color: #f9c74f;
}

.timeline__button--education:hover {
    background-color: #f3bc3c;
}

.timeline__button--work {
    background-color: red;
}

.timeline__button--work:hover {
    background-color: red;
}
